@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap");
@font-face {
    font-family: "GothamMedium";
    src: url("dist/fonts/Gotham-Font/GothamLight.ttf");
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Source Sans Pro", sans-serif;
}

.header-title {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.3px;
    font-weight: 600;
    color: #3E4147;
}

.header-dropdown {
    font-size: 12px;
    font-weight: 600;
}

.header-sign-button {
    box-sizing: border-box !important;
    height: 30px !important;
    width: 128px !important;
    border: 1px solid #FFF !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    letter-spacing: 0.3px !important;
    line-height: 15px !important;
}

.header-sign-button:hover {
    background-color: red;
    transform: scale(1.2);
}


/* .header-sign-button:hover {
    transform: scale();
} */

.small-rect {
    width: 7px;
    height: 7px;
    background-color: rgba(255, 255, 255, 0.64);
}

.big-rect {
    width: 20px;
    height: 7px;
    background-color: rgba(255, 255, 255, 0.64);
}

.dase-line {
    width: 70px;
    height: 3.2px;
    background-color: #3771BB;
}

.center-text-muted {
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.48px;
    color: #1A1A1A;
}

.box-container {
    font-weight: 600;
    padding-left: 15px;
}

.header-small-word {
    position: absolute;
    bottom: 0px;
    right: 10px;
    top: 24px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.419);
    letter-spacing: 1.09px;
}

.banner-nav {
    border-bottom: 0.5px solid aliceblue;
}

.btn {
    border-radius: 0px !important;
}

.navbar-toggler-icon {
    color: white;
}

.menuitem {
    font-family: "Inter", sans-serif;
}

.hero-title {
    font-size: 45px;
    font-weight: 100;
}

.hero-caption {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 63px;
}

.top-header {
    padding-left: 1rem;
    padding-right: 1rem;
}

.logo-division {
    display: flex;
}

.banner {
    min-height: 480px;
    background: rgb(7, 52, 100);
    background: -moz-linear-gradient( 180deg, rgba(7, 52, 100, 1) 0%, rgba(23, 83, 159, 1) 94%);
    background: -webkit-linear-gradient( 180deg, rgba(7, 52, 100, 1) 0%, rgba(23, 83, 159, 1) 94%);
    background: linear-gradient( 180deg, rgba(7, 52, 100, 1) 0%, rgba(23, 83, 159, 1) 94%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#073464", endColorstr="#17539f", GradientType=1);
}

.banner2 {
    min-height: 599px;
    background-color: #c8c8c8;
    background-image: url("dist/img/patternimage.jpg");
}

.rectangle {
    background-color: #c8c8c8;
    min-height: 373px;
    width: 100%;
    opacity: 0.3;
}

.header {
    padding: 0.5rem;
}

.card {
    background-color: #fff;
    margin: 2px;
    height: 109.76px;
    width: 358.21px;
    background-color: #fff;
}

.vertical {
    box-sizing: border-box;
    height: 35px;
    width: 1px;
    opacity: 0.42;
    border: 1px solid #fff;
}

.longtext {
    color: #1a1a1a !important;
    font-family: "Source Sans Pro" !important;
    font-size: 31.99px !important;
    line-height: 40px !important;
    color: #1a1a1a !important;
}

.owner-banner {
    position: relative;
    background-image: url("dist/img/owners-center-banner.webp");
    height: 450px;
    width: 100%;
    background-position: 0 50%;
    font-family: "GothamMedium";
    margin-bottom: 100px;
}

.owner-title {
    font-weight: 300;
    font-size: 56px;
    letter-spacing: 0.25px;
    color: white;
}

.bottom-icons {
    position: absolute;
    bottom: 10%;
    width: 100%;
}

.bottom-icons a {
    text-decoration: none;
    color: white;
    margin: 10px;
}

.bottom-icons a,
svg {
    color: white;
    height: 80px;
    font-size: 80px;
}

.bottom-icons .flex-icons {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bottom-icons .flex-icons i,
svg {
    display: block;
    margin: 0 auto;
    padding-top: 0px;
    flex-wrap: wrap;
}

.bottom-icons .flex-icons i,
svg,
path {
    fill: aliceblue
}

.bottom-icons .flex-icons span {
    font-size: 20px;
    font-weight: 900;
}

@media only screen and (max-width: 767px) {
    .rectangle {
        background-color: #c8c8c8;
        min-height: 689px;
        width: 100%;
        opacity: 0.3;
    }
    .hero-title {
        font-size: 25px;
        font-weight: 100;
    }
    .hero-caption {
        font-size: 12px;
    }
    .bottom-icons .flex-icons span {
        font-size: 25px;
        font-weight: 900;
    }
    .owner-banner {
        position: relative;
        background-image: url("dist/img/owners-center-banner.webp");
        background-size: cover;
        font-family: "GothamMedium";
        margin-bottom: 100px;
        overflow: visible;
        min-height: max-content;
    }
    .bottom-icons {
        position: absolute;
        bottom: -145%;
    }
    .bottom-icons a {
        text-decoration: none;
        color: white;
        /* margin: 5px; */
        width: 50%;
    }
    .flex-icons div {
        border: 2px solid white;
        width: 50%;
    }
    .bottom-icons .flex-icons span {
        font-size: 15px;
        font-weight: 900;
        padding-left: 10px;
    }
    .flex-icons {
        background-color: #1a1a1ad3;
    }
}

@media only screen and (min-width: 768px) {
    .rectangle {
        background-color: #c8c8c8;
        min-height: 500px;
        width: 100%;
        opacity: 0.3;
    }
    .hero-title {
        font-size: 23px;
        font-weight: 100;
    }
    .hero-caption {
        font-size: 13px;
    }
    .owner-banner {
        position: relative;
        background-image: url("dist/img/owners-center-banner.webp");
        background-size: cover;
        font-family: "GothamMedium";
        height: 400px;
        margin-bottom: 100px;
        overflow: visible;
        min-height: max-content;
    }
    .bottom-icons {
        position: absolute;
        bottom: -10%;
    }
    .bottom-icons a {
        text-decoration: none;
        color: white;
        /* margin: 5px; */
        width: 50%;
    }
    .bottom-icons .flex-icons span {
        font-size: 20px;
        font-weight: 900;
    }
}

@media only screen and (min-width: 1147px) {
    /* For desktop: */
    .rectangle {
        background-color: #c8c8c8;
        min-height: 375px;
        width: 100%;
        opacity: 0.3;
    }
    .hero-title {
        font-size: 45px;
        font-weight: 100;
    }
    .hero-caption {
        font-size: 18px;
    }
    .bottom-icons {
        position: absolute;
        bottom: 0;
    }
}