@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap");
@font-face {
  font-family: "GothamMedium";
  src: url("dist/fonts/Gotham-Font/GothamLight.ttf");
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "Source Sans Pro", sans-serif;
}
.btn {
  border-radius: 0px !important;
}
.navbar-toggler-icon {
  color: white;
}
.menuitem {
  font-family: "Inter", sans-serif;
}
.hero-title {
  font-size: 45px;
  font-weight: 100;
}
.hero-caption {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 63px;
}
.top-header {
  padding-left: 1rem;
  padding-right: 1rem;
}
.logo-division {
  display: flex;
}

.banner {
  min-height: 480px;
  background: rgb(7, 52, 100);
  background: -moz-linear-gradient(
    180deg,
    rgba(7, 52, 100, 1) 0%,
    rgba(23, 83, 159, 1) 94%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(7, 52, 100, 1) 0%,
    rgba(23, 83, 159, 1) 94%
  );
  background: linear-gradient(
    180deg,
    rgba(7, 52, 100, 1) 0%,
    rgba(23, 83, 159, 1) 94%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#073464",endColorstr="#17539f",GradientType=1);
}
.banner2 {
  min-height: 599px;
  background-color: #c8c8c8;

  background-image: url("dist/img/patternimage.jpg");
}
.rectangle {
  background-color: #c8c8c8;
  min-height: 373px;
  width: 100%;
  opacity: 0.3;
}

.header {
  padding: 0.5rem;
}
.card {
  background-color: #fff;
  margin: 2px;
  height: 109.76px;
  width: 358.21px;
  background-color: #fff;
}
.vertical {
  box-sizing: border-box;
  height: 35px;
  width: 1px;
  opacity: 0.42;
  border: 1px solid #fff;
}
.longtext {
  color: #1a1a1a !important;
  font-family: "Source Sans Pro" !important;

  font-size: 31.99px !important;
  line-height: 40px !important;
  color: #1a1a1a !important;
}

.owner-banner {
  position: relative;
  background-image: url("dist/img/owners-center-banner.webp");
  height: 450px;
  width: 100%;
  background-size: cover;
  font-family: "GothamMedium";
  margin-bottom: 100px;
}

.owner-title {
  font-weight: 300;
  font-size: 56px;
  letter-spacing: 0.25px;
  color: white;
}

.bottom-icons {
  position: absolute;
  bottom: 10%;
  width: 100%;

}
.bottom-icons a {
  text-decoration: none;
  color: white;
}
.bottom-icons a,
i {
  color: white;
  width: 80px;
  height: 80px;
  font-size: 80px;
}
.bottom-icons .flex-icons {
  padding-top: 50px;
  display: flex;
justify-content: space-around;
flex-wrap: wrap;
flex-shrink: inherit;
}
.bottom-icons .flex-icons i {
  display: block;
  margin: 0 auto;
  padding-top: 50px;
  flex-wrap: wrap;
}
.bottom-icons .flex-icons span {
  font-size: 20px;
font-weight: 900;

}
@media only screen and (max-width: 767px) {
  .rectangle {
    background-color: #c8c8c8;
    min-height: 689px;
    width: 100%;
    opacity: 0.3;
  }
  .hero-title {
    font-size: 25px;
    font-weight: 100;
  }
  .hero-caption {
    font-size: 12px;
  }

.bottom-icons .flex-icons span {

  font-size: 10px;
font-weight: 900;

}
.owner-banner {
  position: relative;
  background-image: url("dist/img/owners-center-banner.webp");
  height: 600px;
  width: 100%;
  background-size: cover;
  font-family: "GothamMedium";
  margin-bottom: 100px;
}
}
@media only screen and (min-width: 768px) {
  .rectangle {
    background-color: #c8c8c8;
    min-height: 500px;
    width: 100%;
    opacity: 0.3;
  }
  .hero-title {
    font-size: 23px;
    font-weight: 100;
  }
  .hero-caption {
    font-size: 13px;
  }
}
@media only screen and (min-width: 1147px) {
  /* For desktop: */
  .rectangle {
    background-color: #c8c8c8;
    min-height: 375px;
    width: 100%;
    opacity: 0.3;
  }
  .hero-title {
    font-size: 45px;
    font-weight: 100;
  }
  .hero-caption {
    font-size: 18px;
  }
}
