@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");

body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Source Sans Pro", sans-serif;
}

.header-title {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.3px;
  font-weight: 600;
  color: #3e4147;
}

.header-dropdown {
  font-size: 12px;
  font-weight: 600;
}

.header-sign-button {
  box-sizing: border-box !important;
  height: 30px !important;
  width: 128px !important;
  border: 1px solid #fff !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  letter-spacing: 0.3px !important;
  line-height: 15px !important;
}

.header-sign-button:hover {
  background-color: red;
  transform: scale(1.2);
}

/* .header-sign-button:hover {
    transform: scale();
} */

.small-rect {
  width: 7px;
  height: 7px;
  background-color: rgba(255, 255, 255, 0.64);
}

.big-rect {
  width: 20px;
  height: 7px;
  background-color: rgba(255, 255, 255, 0.64);
}

.dase-line {
  width: 70px;
  height: 3.2px;
  background-color: #3771bb;
}

.center-text-muted {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.48px;
  color: #1a1a1a;
}

.header-small-word {
  position: absolute;
  bottom: 0px;
  right: 10px;
  top: 24px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.419);
  letter-spacing: 1.09px;
}

.banner-nav {
  border-bottom: 0.5px solid aliceblue;
}

.btn {
  border-radius: 0px !important;
}

.navbar-toggler-icon {
  color: white;
}
.navbar {
  background-color: #000000;
}
.header-social-links {
  width: 20px;
  height: 20px;
}
.block-line {
  height: 12px;
  background-color: #ddc07f;
}

.hero-title {
  font-family: Reem Kufi;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 57px;
  letter-spacing: 0em;
  text-align: left;
}
.hero-title2 {
  font-family: Josefin Sans;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}
.hero-caption {
  font-family: Josefin Sans;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.top-header {
  padding-left: 1rem;
  padding-right: 1rem;
}
.logo {
  width: 97px;
  height: 97px;
}
.logo-division {
  display: flex;
}
.logo-link {
  font-family: Josefin Sans;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 11px;
  letter-spacing: 0em;
  text-align: left;
}

.banner {
  min-height: 480px;
  background-color: #000000;
}

.banner2 {
  position: relative;
  min-width: 100%;
  background-color: #c8c8c8;
  z-index: 2;
}
.banner2::before {
  content: "";
  background-image: url("dist/img/here\ to\ support2.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.header {
  padding: 0.5rem;
}

.card {
  height: 59px;
  width: 236px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  padding: 7px, 20px, 7px, 20px;
  background-color: #ddc07f !important;
}
.box-container {
  font-family: Josefin Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}
.long-center-text {
  max-width: 1087px;
}
.longtext {
  font-family: Josefin Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}
.longtext2 {
  font-family: Josefin Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}
.footer-banner {
  background-image: url("dist/img/long-footer-img.png");
  height: 716px;
  min-width: 100%;
}
.footer-banner a {
  text-decoration: none;
  color: #ffffff;
}
.footer-banner a:hover {
  text-decoration: none;
  color: aliceblue;
}
.monagram-text {
  margin-top: 44px;
  width: 552px;
  height: 68px;
  left: 437px;
  top: 906px;
  border-radius: 0px;
  margin-bottom: 28px;
}
.footer-nav {
margin-top: 43px;
margin-bottom: 29px;}
.footer-nav .footer-links div {
  margin-left: 20px;
  margin-right: 20px;
}
.footer-nav img {
  display: block;
  text-align: center;
  width: 70px;
  height: 70px;
  margin-bottom: 19px;
}
.footer-nav .footer-links a:hover {
 opacity: 0.5;
}
.contact-text {
  margin-top: 43px;
  font-family: Reem Kufi;
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
  line-height: 83px;
  letter-spacing: 0em;
  text-align: left;
  color: #ddc07f;
}
@media only screen and (max-width: 767px) {
  .rectangle {
    background-color: #c8c8c8;
    min-height: 689px;
    width: 100%;
    opacity: 0.3;
  }
  .hero-title {
    font-size: 25px;
    font-weight: 100;
  }
  .hero-caption {
    font-size: 12px;
  }

  .footer-nav .footer-links div {
    margin-left: 0px;
    margin-right: 0px;
  }
  .footer-nav .footer-links div {
    width: 50%;
    margin: 0px;
    border: 1px solid white;
  }
  .footer-nav {
    min-width:100% ;
    margin: 0px;
  }
}

@media only screen and (min-width: 768px) {
  .rectangle {
    background-color: #c8c8c8;
    min-height: 500px;
    width: 100%;
    opacity: 0.3;
  }
  .hero-title {
    font-size: 23px;
    font-weight: 100;
  }
  .hero-caption {
    font-size: 13px;
  }
}

@media only screen and (min-width: 1147px) {
  /* For desktop: */
  .rectangle {
    background-color: #c8c8c8;
    min-height: 375px;
    width: 100%;
    opacity: 0.3;
  }
  .hero-title {
    font-size: 45px;
    font-weight: 100;
  }
  .hero-caption {
    font-size: 18px;
  }
}
